<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyFirstProject.board.mapper.BoardMapper">
    <select id="selectSummarizedBoardList" resultType="MyFirstProject.board.dto.BoardDto">
        <![CDATA[
            SELECT
                board_idx,
                title,
                contents,
                hit_cnt,
                updated_datetime,
                created_datetime
            FROM
                board
            WHERE
                deleted_yn = 'N'
        ]]>
    </select>

    <select id="selectBoardDetailByBoardIdx" parameterType="int" resultType="MyFirstProject.board.dto.BoardDto">
        <![CDATA[
            SELECT
                board_idx,
                title,
                contents,
                hit_cnt,
                created_datetime,
                creator_id,
                creator_name,
                updated_datetime
            FROM
                board
            WHERE
                deleted_yn = 'N'
                AND board_idx = #{boardIdx}
        ]]>
    </select>

    <update id="updateBoardHitCnt" parameterType="int">
        <![CDATA[
            UPDATE board
            SET hit_cnt = hit_cnt+1
            WHERE board_idx = #{boardIdx}
        ]]>
    </update>

    <insert id="insertBoard" parameterType="MyFirstProject.board.dto.BoardDto" useGeneratedKeys="true" keyProperty="boardIdx">
        <![CDATA[
            INSERT INTO board
            (
                title,
                contents,
                created_datetime,
                creator_id,
                creator_name
            )
            VALUES
            (
                #{title},
                #{contents},
                NOW(),
                #{creatorId},
                #{creatorName}
            )
        ]]>
    </insert>

    <select id="selectBoardCreatorByBoardIdx" parameterType="int" resultType="String">
        <![CDATA[
            SELECT
                creator_id
            FROM
                board
            WHERE
                board_idx=#{boardIdx}
                AND deleted_yn = 'N'
        ]]>
    </select>

    <update id="deleteBoard" parameterType="int">
        <![CDATA[
            UPDATE board
            SET deleted_yn = 'Y'
            WHERE board_idx = #{boardIdx}
        ]]>
    </update>

    <update id="updateBoard" parameterType="MyFirstProject.board.dto.BoardDto">
        <![CDATA[
            UPDATE board
            SET title = #{title}, contents = #{contents}
            WHERE board_idx = #{boardIdx} AND deleted_yn = 'N'
        ]]>
    </update>

    <insert id="insertBoardFileList" parameterType="MyFirstProject.board.dto.BoardFileDto" useGeneratedKeys="true" keyProperty="idx">
        <![CDATA[
            INSERT INTO t_file
                (board_idx, original_file_name, stored_file_path, file_size,
                creator_id, created_datetime)
            VALUES
        ]]>
        <foreach collection="list" item="item" separator=",">
            (
                #{item.boardIdx},
                #{item.originalFileName},
                #{item.storedFilePath},
                #{item.fileSize},
                #{item.creatorId},
                NOW()
            )
        </foreach>
    </insert>

    <select id="selectBoardFileList" parameterType="int" resultType="MyFirstProject.board.dto.BoardFileDto">
        <![CDATA[
            SELECT
                idx, board_idx, original_file_name, creator_id,
                ROUND(file_size/1024) AS file_size
            FROM
                t_file
            WHERE
                board_idx = #{boardIdx}
                AND deleted_yn = 'N'
        ]]>
    </select>

    <select id="selectStoredFilePath" parameterType="int" resultType="String">
        <![CDATA[
            SELECT
                stored_file_path
            FROM
                t_file
            WHERE
                idx = #{idx}
                AND deleted_yn = 'N'
        ]]>
    </select>

    <select id="selectOriginalFileName" parameterType="int" resultType="String">
        <![CDATA[
            SELECT
                original_file_name
            FROM
                t_file
            WHERE
                idx = #{idx}
                AND deleted_yn = 'N'
        ]]>
    </select>

    <select id="selectThumbnailImgIdx" parameterType="int" resultType="int">
        <![CDATA[
            SELECT
                idx
            FROM
                t_file
            WHERE
                board_idx = #{boardIdx}
                AND deleted_yn = 'N'
            LIMIT
                1
        ]]>
    </select>

    <select id="selectBoardCommentList" parameterType="int" resultType="MyFirstProject.board.dto.CommentDto">
        <![CDATA[
            SELECT
                idx, board_idx, member_idx, content, created_datetime, updated_datetime
            FROM
                comment
            WHERE
                board_idx = #{boardIdx}
                AND deleted_yn = 'N'
        ]]>
    </select>

</mapper>