<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyFirstProject.board.mapper.BoardMapper">
    <select id="selectSummarizedBoardList" resultType="MyFirstProject.board.dto.BoardDto">
        <![CDATA[
            SELECT
                board_idx,
                title,
                contents,
                hit_cnt,
                created_datetime,
                updated_datetime
            FROM
                board
            WHERE
                deleted_yn = 'N'
        ]]>
    </select>
</mapper>